Repository inspr/core-legacy, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, insprd, sidecar, uidp, build, devops, controller

fix(devops): change codecov rules
  codecov.yml
Labels: none

Revert "fix(devops): change codecov rules"
  codecov.yml
Labels: none

fix(devops): change codecov rules
  codecov.yml
Labels: none

Revert "fix(devops): change codecov rules"
  codecov.yml
Labels: none

fix(devops): change codecov rules
  codecov.yml
Labels: none

tests(uid client): updated create/update/delete/ user, Login and hasPermissions tests
  cmd/uid_provider/client/client.go
  cmd/uid_provider/client/client_test.go
Labels: uidp

fix (comments):
  cmd/insprd/memory/tree/channel.go
  pkg/api/handlers/handler.go
Labels: insprd

.github/labeler.yml:

documentation:
  - doc/*
  - examples/**/*.md

insprd:
  - ./cmd/insprd/**/*

sidecar:
  - ./cmd/sidecar/**/*
  - ./pkg/sidecar/**/*

uidp:
  - ./cmd/uid_provider/**/*

build:
  - skaffold.yaml
  - build/*
  - "**/Dockerfile"

devops:
  - .github/*

controller:
  - "**/controller/**/*"
